<main class="bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark">
    <hero-section ></hero-section>
    <about-section ></about-section>
    <services-section ></services-section>
    <smart-home-section ></smart-home-section>
    <design-section ></design-section>
    <amenities-section ></amenities-section>
    <app-aura-options ></app-aura-options>
    <location-section ></location-section>
    <floor-plans-section ></floor-plans-section>
    <app-suppliers-section></app-suppliers-section>
    <app-success-partner></app-success-partner>
    <contact-form ></contact-form>
    <footer-component ></footer-component>
    
  </main>
  