<!-- Light and Dark Section -->
<div
    class="flex items-start flex-col md:flex-row w-full h-auto py-12 px-4 bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark">

    <!-- Text Content -->
    <div class="md:w-1/2 flex flex-col justify-center text-right hidden-on-load" id="textDiv">
        <div class="flex items-center justify-end">
            <h3 class=" h-7 text-right text-[rgba(234,191,174,1)] text-xl font-normal font-['Almarai']">عن اورا ابحر
            </h3>
            <div class="w-16 h-[1px] bg-amber-700 ml-4"></div>
        </div>
        <h2 class=" text-3xl sm:text-5xl h-24 text-right justify-start text-amber-700  font-bold   leading-[52px] tracking-tight">
            اورا ابحر تجربة عيش فاخرة في <br> شمال جدة</h2>
    
        <div
            class="w-full sm:w-[555px] ml-auto h-28 text-right justify-start text-textLight dark:text-textDark text-lg font-normal font-['Almarai'] leading-10 tracking-tight">
            حيث يلتقي البحر بجمال التصميم. مشروع يجمع بين الفخامة والراحة، ليمنحك  أسلوب حياة متوازن بين الهدوء والرقي.
            <br />
        </div>
        <!-- Project Details -->
        <div dir="rtl" class="space-y-6">
            <div class="flex items-center">
                <div class="w-20 h-20 bg-red-50bg-red-50 dark:bg-[#FBEDE7] bg-opacity-100 dark:bg-opacity-100 rounded-full shadow-[0px_0px_30px_0px_rgba(47,76,88,0.06)] flex items-center justify-center">

                    <img  src="../../../assets/images/Land 1.svg" alt="Area Icon" class="w-14 h-14 ">
                </div>
                <div class="ms-[32px]">
                    <h4 class= "text-textLight dark:text-textDark text-lg font-bold">مساحة المشروع</h4>
                    <p class="opacity-60 text-textLight dark:text-textDark">يمتد على مساحة 6800 متر مربع ويتضمن وحدات راقية.</p>
                    <p class="opacity-60 text-textLight dark:text-textDark">محيط كل وحدة</p>
                </div>
            </div>

            <div class="flex items-center">
                <div class="w-24 sm:w-20 h-20 bg-red-50bg-red-50 dark:bg-[#FBEDE7] bg-opacity-100 dark:bg-opacity-100 rounded-full shadow-[0px_0px_30px_0px_rgba(47,76,88,0.06)] flex items-center justify-center">
                    <img src="../../../assets/images/Architecture 1.svg" alt="Units Icon"  class="w-14 h-14 ">
                  </div>
                <div class="ms-[32px]">
                    <h4 class= "text-textLight dark:text-textDark text-lg font-bold">عدد الوحدات</h4>
                    <p class="opacity-60 text-textLight dark:text-textDark">يشمل المشروع 40 وحدة فاخرة بمساحات متنوعة تصل حتى 455
                        متر مربع.</p>
                    <p class="opacity-60 text-textLight dark:text-textDark">مساحة الأرض: 13×28 متر مسطح البناء: 455 متر مربع.مساحات</p>
                    <p class="opacity-60 text-textLight dark:text-textDark">الوحدات: 350 متر مربع.</p>


                </div>
            </div>

            <div class="flex items-center">
                <div class="w-28 sm:w-20 h-20 bg-red-50bg-red-50 dark:bg-[#FBEDE7] bg-opacity-100 dark:bg-opacity-100 rounded-full shadow-[0px_0px_30px_0px_rgba(47,76,88,0.06)] flex items-center justify-center">

                    <img  src="../../../assets/images/Interior Design 1.svg" alt="Interior Icon" class="w-14 h-14 ">
                </div>
                <div class="ms-[32px]">
                    <h4 class= "text-textLight dark:text-textDark text-lg font-bold">التوزيع الداخلي</h4>
                    <p class="opacity-60 text-textLight dark:text-textDark">الوحدات مصممة بعناية بمساحات معيشة متعددة، مطبخ حديث،
                        وحديقة خاصة.</p>
                    <p class="opacity-60 text-textLight dark:text-textDark">- الدور الأول: غرفة ماستر، 3 غرف نوم، صالة علوية، بوفيه.</p>
                    <p class="opacity-60 text-textLight dark:text-textDark">- الروف: جلسة مفتوحة، إمكانية مسبح، غرفة خادمة، منطقة غسيل.</p>

                </div>
            </div>
        </div>
    </div>

    <!-- Image Section -->
    <div class="md:w-1/2 sm:m-auto flex justify-center mt-8 md:mt-0 hidden-on-load" id="imgDiv">
        <img src="../../../assets/images/Rectangle 9982.png" alt="House Image"
            class="w-full max-w-md rounded-lg shadow-lg">
    </div>
</div>