<!-- Next Section: Light and Dark Theme with Flexbox -->
<div
    class="w-full  py-12 px-4 bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark flex flex-col md:flex-row items-center">
    <section class="w-[80vw] m-auto pb-14">
        <div class="  inline-flex flex-col justify-start items-center  ">
            <div class="self-stretch inline-flex justify-between items-center ">
                <div class="flex gap-10">
                    <div
                        class="w-14 h-14 bg-white rounded-full border border-neutral-200 flex items-center justify-center cursor-pointer">
                        <img src="../../../assets/images/subway_down-2 (3).svg" alt="" class="max-w-[80%] max-h-[80%]">
                    </div>
                    <div
                        class="w-14 h-14 bg-white rounded-full border border-neutral-200 flex items-center cursor-pointer justify-center">
                        <img src="../../../assets/images/subway_down-2 (2).svg" alt="" class="max-w-[80%] max-h-[80%]">
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" id="tittle"
                    class="w-full text-right justify-end text-amber-700  font-bold font-['Almarai'] ">
                    تتميز أورا بأنظمة المنزل الذكي
                                    </div>
            </div>
            <div data-aos="fade-right" data-aos-duration="1500" data-aos-delay="300" id="description"
                class=" mt-6 text-right justify-starttext-textLight dark:text-textDark   font-normal font-['Almarai'] leading-18">
                تحكم في الإضاءة، التكييف، والستائر عبر الهاتف شغيل الأضواء تلقائيًا عند دخول الغرف. نظام أمني متكامل. تخصيص أجواء للترفيه.</div>
        </div>


        <div class="w-full  relative flex h-[250px] sm:h-[598px] bg-darkBg dark:bg-lightBg">
            <!-- <img class=" bg-darkBg dark:bg-lightBg  next hidden sm:block" src="../../../assets/images/Rectangle 9976 (3).png" /> -->
            <img data-aos="zoom-out-down" data-aos-duration="1500" data-aos-delay="300" src="../../../assets/images/Rectangle 9976 (2).png" alt="Project View" class="current  ">
        </div>

    </section>
</div>