.current{
    position: absolute;
    width: 1245px;
    height: 598px;
    top: 80px;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
}

.next{
    position: absolute;
    width: 117px;
    height: 598px;
    top: 80px;
    left: 1323px;
    object-fit: cover;  
    border-radius: 10px;
}

@media (max-width: 567px) {
    .current{
 
        height: auto;
 
    }}
    #tittle{
        font-size: 38px;
        @media(max-width:767px){
            font-size: 1.5rem;
        }
    }
