<section
    class="flex overflow-hidden flex-col justify-center items-center px-16 py-32 w-full bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark max-md:px-5 max-md:py-24 max-md:max-w-full">
    <div class="mb-0 w-full max-w-[1195px] max-md:mb-2.5 max-md:max-w-full" [attr.space]="36">
        <div class="flex gap-5 max-md:flex-col max-md:">
            <a  href="https://maps.app.goo.gl/Tcm7vLAKSKe5roLH7" target="_blank" class="w-6/12 max-md:ml-0 max-md:w-full">
                <img data-aos="zoom-out-left" data-aos-duration="1500" data-aos-delay="300"  src="../../../assets/images/Maps.png"
                    class="object-contain grow w-full bg-amber-700 aspect-[1.12] rounded-[32px] max-md:mt-9 max-md:max-w-full"
                    alt="Location map" />
            </a>

            <article class="ml-5 w-6/12 max-md:ml-0 max-md:w-full">
                <div
                    class="flex flex-col justify-center items-end self-stretch my-auto min-h-[442px] max-md:mt-10 max-md:max-w-full">
                    <header
                        class="flex overflow-hidden flex-col items-end px-16 max-w-full text-xl text-blue-800 dark:text-textDark w-[555px] max-md:pl-5">
                        <div class="inline-flex justify-end items-center gap-4">
                            <div id="tittle" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" class="w-36 h-7 justify-center  text-xl font-normal font-['Almarai']">موقع اورا المتميز</div>
                            <div class="w-12 h-0 outline outline-1 outline-offset-[-0.50px] "></div>
                        </div>
                    </header>

                    <div class="flex flex-col items-end mt-4 max-w-full w-[555px]">
                        <h2 data-aos="fade-left" data-aos-duration="1000" data-aos-delay="300"
                            class="text-4xl font-bold  text-right text-amber-700 max-md:max-w-full">
                            اورا أبحر تجربة فاخرة على سواحل جدة
                        </h2>

                        <div class="flex flex-col items-end mt-4 w-full">
                            <p data-aos="fade-right" data-aos-duration="1500" data-aos-delay="400" class="text-right justify-starttext-right justify-starttext-textLight dark:text-textDark text-lg font-normal font-['Almarai'] leading-10 tracking-tight">
                                لوريم إيبسوم هو نص مؤقت يستخدم في التصميم والنشر لإظهار شكل
                                الوثيقة أو الخط دون الاعتماد على محتوى معنوي. قد يستخدم
                                لوريم إيبسوم كنص بديل قبل وضع النص النهائي
                            </p>

                            <a href="https://maps.app.goo.gl/Tcm7vLAKSKe5roLH7" target="_blank"
                                class="flex overflow-hidden flex-col justify-center mt-8 max-w-full text-base font-bold tracking-normal leading-none text-center text-white bg-[#01447b] rounded-none min-h-14   w-[182px]">
                                <div data-aos="fade-down" data-aos-duration="1000" data-aos-delay="500" class="self-stretch   pl-4 pr-6 py-2.5 inline-flex justify-center items-center gap-2">
                                    احصل علي الاتجاهات
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>

<img data-aos="zoom-out-down" data-aos-duration="1500" data-aos-delay="400"  src="../../../assets/images/Frame 1707481712.png"
    class="object-contain w-full aspect-[1.84] max-md:max-w-full" alt="Aura Abhar location" />