<section class="flex overflow-hidden flex-col justify-center items-center px-20 py-5 w-full bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark max-md:px-5 max-md:py-24 max-md:max-w-full">
    <div id="container" class="flex flex-col justify-center align-middle text-center  mb-0 w-full pb-8 max-w-[1196px] max-md:mb-2.5 max-md:max-w-full">
        <header class="flex flex-col space-y-4  self-end pl-7 max-w-full  max-md:pl-5">
        
            <h4 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300" id="tittle1" class="font-['Almarai']">
                الموردين
            </h4>
            <h2 data-aos="fade-up" data-aos-duration="1500" data-aos-delay="300" id="tittle2" class="font-['Almarai']">خبرات تعكس جودة الأعمال</h2>
        </header>
        <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500" dir="rtl" class="suppliers_container">
            <div class="sup">
                  EXA
            </div>
             <div class="sup">
                  مكيفات
            </div>
             <div class="sup">
                  كابلات بحرة
            </div>
             <div class="sup">
                  الدهان الداخلي 
            </div>
             <div class="sup">
                  كاليدا اكمال
            </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="1500" data-aos-delay="500" dir="rtl" class="suppliers_container">
            <div class="sup">
                  العزل
            </div>
             <div class="sup">
                  دهانات
            </div>
             <div class="sup">
                  العزل
            </div>
             <div class="sup">
                  تكييف
            </div>
             <div class="sup">
                  المستثمرين العرب
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="1500" data-aos-delay="500" dir="rtl" class="suppliers_container">
            <div class="sup1">
                  موارد الكهرباء
            </div>
             <div class="sup1">
                  الكهرباء والأسلاك ولوحة المفاتيح
            </div>
             
        </div>
    </div>
</section>
        
