<section
    class="flex overflow-hidden flex-col justify-center items-center px-20 py-40 w-full bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark max-md:px-5 max-md:py-24 max-md:max-w-full">
    <div class="flex flex-col mb-0 w-full max-w-[1202px] max-md:mb-2.5 max-md:max-w-full">
        <h4 data-aos="fade-up" data-aos-duration="500" data-aos-delay="200" id="tittle" class="font-['Almarai']">اورا تعكس الرقي</h4>
        <h2 data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200" id="description"
            class="font-['Almarai']">
            تصميم فاخر تفاصيل راقية
        </h2>

        <div
            class="flex relative flex-col justify-center items-end p-20 mt-8 max-w-full rounded-2xl min-h-[600px] sm:h[400px] w-[909px] max-md:pl-5">
            <img data-aos="zoom-in" data-aos-duration="2500" data-aos-delay="500" [src]="currentItem.image" class="object-cover absolute inset-0 size-full"
                alt="Living room background" />

            <article data-aos="fade-left" data-aos-duration="1500" data-aos-delay="200" class=" flex relative  left-[30px] sm:left-[377px] top-[367px]  sm:top-[0px] flex-col mt-[-33rem] sm:mt-0 pt-14 mr-0   rounded-2xl border border-solid
                bg-darkBg dark:bg-lightBg text-textLight dark:text-textDark bg-opacity-90 border-white border-opacity-10
                w-full sm:w-[594px]   ">
                <div
                    class="flex flex-col items-center px-16 text-base font-bold text-center text-zinc-600 max-md:px-5 max-md:max-w-full">
                    <h3 class="max-w-full text-3xl text-[#B9572F] w-[382px]">
                        {{ currentItem.tittle }}
                    </h3>

                    <p
                        class="self-stretch mt-12 opacity-60 text-textLight dark:text-textDark text-lg max-md:mt-10 max-md:max-w-full text-center justify-start tex font-normal font-['Almarai']">
                        {{ currentItem.description }}
                    </p>

                    <blockquote
                        class="mt-8 text-center justify-start opacity-60 text-textLight dark:text-textDark text-base font-normal font-['Almarai']">
                        "انضم إلينا في أورا أبحر وكن جزءًا من أسلوب حياة استثنائي!" </blockquote>

                    <button
                        class="flex overflow-hidden flex-col justify-center mt-9 ml-2.5 max-w-full tracking-normal   text-white bg-sky-900 min-h-[49px]   w-[167px]">
                        <div class="flex flex-1 gap-2 justify-center items-center py-2.5 pr-5 pl-3 size-full">
                            <img src="../../../assets/images/icon-2.svg"
                                class="object-contain shrink-0 self-stretch my-auto aspect-square  "
                                alt="Download icon" />
                            <span
                                class="text-center justify-center text-white text-base font-bold font-['Almarai'] leading-tight tracking-tight">تحميل
                                البروشور</span>
                        </div>
                    </button>
                </div>

                <div class="flex gap-1 self-start mt-3">
                    <button (click)="showPrevious()">
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/d6612b4b8ef6e6f0728c89e274dfe23974ef0a7a87765c7c0e4b3d42a1a840c1?placeholderIfAbsent=true&apiKey=d7ab9bab3e364b1c95732b06062da3e2"
                            class="object-contain shrink-0 aspect-[1.01] w-[93px]" alt="Previous" />
                    </button>
                    <button (click)="showNext()" >
                        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ffc3dab0a06b49fae3da19040d4264f933c47e000ca2da7e9aad6311ea1c00c7?placeholderIfAbsent=true&apiKey=d7ab9bab3e364b1c95732b06062da3e2"
                            class="object-contain shrink-0 aspect-[1.01] w-[93px]" alt="Next" />
                    </button>
                </div>
            </article>
        </div>
    </div>
</section>