#tittle{
  text-align: center;
  font-family: Almarai;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0px;
vertical-align: middle;
color: #01447B;

}
#description{
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  vertical-align: middle;
  font-family: Almarai;
font-weight: 700;
font-size: 38px;
line-height: 140%;
letter-spacing: -2%;
text-align: center;
color: #B9562F;
}